body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

fieldset{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 5px 5px 23px 2px #000000; 
    box-shadow: 5px 5px 23px 2px #000000;
    border-radius: 15px;
}

legend{
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #000000 ;
    font-size: 25px;
    -webkit-box-shadow: 5px 5px 23px 2px #000000; 
    box-shadow: 5px 5px 23px 2px #000000;
    border-radius: 15px;
    
}

.btnAdd{
    background: #E4E4E4;
    background: -moz-linear-gradient(left, #E4E4E4 0%, #A1A1A1 50%, #8F8F8F 100%);
    background: -webkit-linear-gradient(left, #E4E4E4 0%, #A1A1A1 50%, #8F8F8F 100%);
    background: linear-gradient(to right, #E4E4E4 0%, #A1A1A1 50%, #8F8F8F 100%);
    border-radius: 20px;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 5px 5px 20px 2px #000000;
}

.cab{
    font-size: 18px;
    text-align: center;
    
}

.data{
    text-align: center;
}

.table{
    
    display: table; 
    float:left; 
    margin-right:10px;
    border: solid 1px #000;
    width: 900px;
}

#inputGentilico{
    border-radius: 5px;
}